.nav-bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04AA6D;
  }
  
  .nav-bar > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-bar > li a:hover:not(.active) {
    background-color: #111;
  }
  
  .nav-bar .active {
    float: right;
  }

  .nav-bar .menu {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }